body {
  margin: 0;
}

#overlay {
  max-width: 100%;
  height: Hug (60px)px;
  padding: 8px 11px;
  gap: 0px;
  background: #1A73E826;
  text-align: center;
}

#overlayContent {
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#contactExpertBtn {
  color: #1A73E8;
  text-decoration: none;
  width: Hug (139px)px;
  height: Hug (28px)px;
  padding-left: 8px;
  gap: 0px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
}

#overlayText {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  columns: #262626;
}

@media (max-width: 960px) {
  #iconContainer1 {
    left: 13% !important;
  }

  #iconContainer2 {
    left: 41% !important;
  }

  #iconContainer3 {
    left: 69% !important;
  }

  #iconContainer1 .MuiSvgIcon-root,
  #iconContainer2 .MuiSvgIcon-root,
  #iconContainer3 .MuiSvgIcon-root {
    font-size: 44px !important;
  }

  #iconContainer1 .iconText,
  #iconContainer2 .iconText,
  #iconContainer3 .iconText {
    font-size: 8px !important;
    width: 88px !important;
  }
}

@media (max-width: 600px) {
  #iconContainer1 {
    top: 20% !important;
    left: 10% !important;
  }

  #iconContainer2 {
    top: 20% !important;
    left: 38% !important;
  }

  #iconContainer3 {
    top: 20% !important;
    left: 67% !important;
  }

  #iconContainer1 .MuiSvgIcon-root,
  #iconContainer2 .MuiSvgIcon-root,
  #iconContainer3 .MuiSvgIcon-root {
    font-size: 36px !important;
  }

  #iconContainer1 .iconText,
  #iconContainer2 .iconText,
  #iconContainer3 .iconText {
    font-size: 6px !important;
    width: 77px !important;
  }
}


/* programs table */
.table-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: auto;
}

.programs-table {
  width: 100%;
  border-collapse: collapse;
}

.programs-table th {
  padding: 13.5px 20px !important;
  color: #1350A0;
  font-size: 14px;
  white-space: nowrap;
  background: #1A73E859;
}

.programs-table td {
  background: #EBF3FF59;
  font-size: 13px;
}

.programs-table tbody tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
  margin-right: 8px;
}

.programs-table th:nth-child(2),
.programs-table th:nth-child(3),
.programs-table td:nth-child(3),
.programs-table td:nth-child(4) {
  text-align: center;
  padding: 17px;
  border-left: 1.5px solid #00000038;
}

.programs-table td:nth-child(1) {
  color: #445ada;
  padding-left: 10px;
}

.programs-table td:nth-child(2) {
  min-width: 235px;
}

.MuiOutlinedInput-root {
  height: 50px !important;
}